@import "tailwindcss";

:root {
  --background: #F7EDE1;
  --foreground: #171717;
  --primary: #7A4CE0;
  --secondary: #F5C44D;
  --accent: #FF92B5;
  --textP: #1E1E1E;

  --font-fredoka: 'Fredoka', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-textPrimary: var(--textP);

  --font-regular: var(--font-quicksand);
  --font-heading: var(--font-fredoka);
}